 @import "_variables";
 
 .site-header {
   margin-top: 120px;
   height: 400px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: $bg-color;
   background-image: url("../images/arches.png");
 }

 header h2 {
   font-weight: normal;
   text-align: center;
   margin: 8% 0;
 }

 @media only screen and (min-width: 1024px) {
   .site-header {
     justify-content: center;
     margin-top: 0;
     height: 100vh; //I think this looks good on big screens pls let me keep it
   }
 }