header {
  padding: 120px 0 0 0;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color:darkkhaki;
  background-image: url("../images/arches.png");
}