nav {
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav div {
  padding: 1.5em;
  display: flex;
  align-items: center;
}

nav .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Styles for back to top (since it's considered nav?) */

.scroll-up button {
  right: 2%;
  bottom: 4%;
  width: 58px;
  height: 58px;
  position: fixed;
  border-radius: 50%;
  color: #FFFFFF;
  background-color:#4056A1;
  border: none;
  text-align: center;

  visibility: hidden;
}

.scroll-up button:hover {
  animation: bounce1 2s ease infinite;
}

@keyframes bounce1 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-16px);
  }

  60% {
    transform: translateY(-8px);
  }
}

/* Styles for tweet text area collaps */

.new-tweet i {
  color: red;
}

.new-tweet i:hover {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(16px);
  }

  60% {
    transform: translateY(8px);
  }
}