section.tweets-container {
  margin: 5% 0;;
}

article.tweet {
  border: 3px solid #545149;
  padding: 1%;
  margin: 2% 0;
  text-align: left;
}

article.tweet:hover {
  box-shadow: 6px 6px #989691;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-user {
  display: flex;
}

.tweet-usertag {
  font-weight: bold;
  font-size: 0.7em;
  color: #989691;
}

article.tweet p {
  margin: 28px 0;
  padding: 20px 0;
  border-bottom: 3px solid #545149;
  font-size: 1.1em;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-timestamp {
  font-weight: bold;
  font-size: 0.6em;
  color: #989691;
}

.tweet-icons {
  font-size: 0.8em;
}
.tweet-icons i {
  padding: 0 5px;
}

.tweet-icons i:hover {
  color: #4056A1;
}