section.tweet {
  border: 3px solid #545149;
  padding: 1%;
  margin: 2% 0;
  text-align: left;
}

section.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet-user {
  display: flex;
}

section.tweet footer {
  display: flex;
  justify-content: space-between;
}

section.tweet article {
  margin: 28px 0;
  padding: 18px 0;
  border-bottom: 3px solid #545149;
}
